/* ------------------------------------------------------------------------------------------------------------------------------
MAIN
--------------------------------------------------------------------------------------------------------------------------------*/
.wrapper {
	background-image: url("../../images/webp/mob.webp");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	min-height: 100vh;
	@media (min-width: 405px) {
		background-image: url("../../images/webp/bg-desktop.webp");
	}
	@include xl {
		background-position: center 36%;

		// aspect-ratio: 1900/910;
	}
}

.header {
	padding-top: 10px;

	@include sm {
		padding-top: 17px;
	}
}

.logo {
	display: block;
	width: 64px;
	height: 64px;

	@include md {
		width: 87px;
		height: 87px;
	}
	@include xxl {
		margin-left: 20px;
	}

	img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		transition: all 0.3s ease-in-out;
	}

	&:hover img {
		transform: scale(1.025);
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__content {
		height: inherit;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding-top:10px;
		gap: 40px;

		@media (min-width: 340px) {
			padding-top: 70px;
		}
    @media (min-width: 350px) {
			padding-top: 90px;
		}
    @media (min-width: 360px) {
			padding-top: 115px;
		}
		@media (min-width: 370px) {
			padding-top: 150px;
		}
    	@media (min-width: 380px) {
			padding-top: 170px;
		}
    	@media (min-width: 390px) {
			padding-top: 185px;
		}
		@media (min-width: 405px) {
					padding-top:185px;
		}

		@include md {
			padding-top: 70px;
			gap: 60px;
		}
		@include xl {
			padding-top: 90px;
		}
	}

	&__title {
		font-weight: 700;
		line-height: 100%;
		text-align: center;
		color: #fff;
		font-size: 15px;


		@include md {
			font-size: 22px;
		}

		@include xl {
			font-size: 36px;
		}
	}

	&__description {
		font-weight: 800;
		line-height: 100%;
		text-align: center;
		color: #fff;
		font-size: 29px;

		@media (min-width: 390px) {
			font-size: 36px;
		}

		
		@include md {
			font-size: 60px;
		}

		@include xxl {
			line-height: 86%;
			font-size: 85px;
		}
	}

	&__white {
		display: block;
		color: var(--white);
		white-space: nowrap;
	}

	&__accent {
		display: block;
		color: var(--accent);
		white-space: nowrap;

		line-height: 122%;
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		font-family: var(--second-family);
		font-weight: 400;
		color: #fff;
		cursor: pointer;
		text-decoration: none;
		border-radius: 100px;
		border: 1px solid #a3ebff;
		padding-inline: 20px;
		font-size: 16px;
		position: relative;
		overflow: hidden;
		height: 50px;

		img {
			width: 22px;
			height: 22px;

			@include lg {
				width: 27px;
				height: 27px;
			}
		}

		// Полупрозрачный градиент с блюром
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 238, 255, 0.3));
		background-size: 200% 100%; // для анимации градиента
		backdrop-filter: blur(6px);
		-webkit-backdrop-filter: blur(6px);
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			animation: gradientMove 3s linear infinite;
			outline: none;
		}

		&:active {
			transform: scale(0.95);
		}

		@include sm {
			font-size: 18px;
		}

		@include lg {
			height: 62px;
			font-size: 20px;
		}
	}
}

// Анимация градиента (один раз)
@keyframes gradientMove {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}


/* Базовое состояние (до анимации) */
.animate-text,
.animate-btn {
	opacity: 0;
	transform: translateY(40px);
}

/* Анимация */
@keyframes fadeUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Запуск анимации */
.animate-text {
	animation: fadeUp 0.9s ease forwards;
}

.animate-btn {
	animation: fadeUp 0.9s ease forwards;
	animation-delay: 0.4s; /* кнопка появляется позже */
}

.main__description span {
	display: inline-block;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeUp 0.6s ease forwards;
}

.main__description span:nth-child(1) {
	animation-delay: 0.2s;
}
.main__description span:nth-child(2) {
	animation-delay: 0.4s;
}
.main__description span:nth-child(3) {
	animation-delay: 0.6s;
}