/* ------------------------------------------------------------------------------------------------------------------------------
ROOT
--------------------------------------------------------------------------------------------------------------------------------*/
:root {
	--site-max-width: 1440px;

	--font-title: "Montserrat", sans-serif;
	--font-main: "Inter", sans-serif;

	--white: white;
	--black: black;
	--accent: #00EEFF;
	
	--transition: all 0.3s ease-in-out;
}
